[Unit]
Description=Gunicorn server for SITENAME

[Service]
Restart=on-failure
User=hugo
WorkingDirectory=/home/hugo/sites/SITENAME/source
ExecStart=/home/hugo/sites/SITENAME/virtualenv/bin/gunicorn \
		  --bind unix:/tmp/SITENAME.socket \
		  superlists.wsgi:application

[Install]
WantedBy=multi-user.target
